body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
table{border-collapse: collapse;border-spacing: 0;}
fieldset, img{border: 0;}
abbr, acronym{border: 0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;font-weight: normal;}
input, select, textarea { -webkit-tap-highlight-color: rgba(0,0,0,0); border: 0; border-radius: 0; }
input, img { vertical-align: middle;outline: none;}
body { background-color: #ececec; color: #787878; font-family: "Microsoft YaHei"; font-size: 14px; display: block;}
::-webkit-scrollbar {width: 5px; height: 5px;-webkit-transition:1s;}
::-webkit-scrollbar-thumb {background-color: #a7afb4;background-clip: padding-box;min-height: 28px;}
::-webkit-scrollbar-thumb:hover {background-color: #525252;background-clip: padding-box; min-height: 28px;}
::-webkit-scrollbar-track-piece {background-color: #ccd0d2;}
ul, ol, li { list-style: none;}

a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

/*常用颜色和背景*/
.cw{color: #FFF;}
.cb{color: #000;}

.bg_w{background-color: #FFF;}
.bg_b{background-color: #000;}
.bgNone{background-color: transparent;}

/*常见字体*/
.ffb{font-family: "黑体"}
.fms{font-family: "Microsoft YaHei"}

/*文字排版*/
.f10{ font-size:10px}
.f11{ font-size:11px}
.f12{ font-size:12px}
.f13{ font-size:13px}
.f14{ font-size:14px}
.f15{ font-size:15px}
.f16{ font-size:16px}
.f18{ font-size:18px}
.f20{ font-size:20px}
.f22{ font-size:22px}
.f24{ font-size:24px}
.fb{ font-weight:bold}
.fn{ font-weight:normal}
.t2{ text-indent:2em;}
.lh150{ line-height:150%}
.lh180{ line-height:180%}
.lh200{ line-height:200%}
.unl{ text-decoration:underline}
.no_unl{ text-decoration:none;}

/*定位*/
.tl{ text-align:left}
.tc{ text-align:center}
.tr{ text-align:right}
.bc{ margin-left:auto; margin-right:auto;}
.fl{ float:left; display:inline}
.fr{ float:right; display:inline}
.cl{ clear:left}
.cr{ clear:right}
/*清除浮动样式*/
.clear:after{ content:".";display:block;height:0;clear:both;visibility: hidden;}
.clear{ zoom:1;}
*html .clear{ height:1%}
.Clearfix{ display:block}
.vm{ vertical-align:middle}
.pr{ position:relative}
.pa{ position:absolute}
.abs-right{ position:absolute; right:0}
.zoom{ zoom:1}
.hidden{ visibility:hidden}
.none{ display:none}
.visible{visibility: visible}
.block{display:block}
.bn{border: none;}
.tt{text-decoration:line-through;} 
.oh{overflow: hidden;} /***显示状态***/
/*垂直居中*/
.table{display: table;} 
.tableCell{display: table-cell;vertical-align: middle;}
.cp{cursor: pointer;}/**鼠标形状**/
.imgs{position: relative;top:-2px;}/*图片浮动问题*/

/*宽度*/
.w10{ width:10px}
.w11{ width:11px}
.w12{ width:12px}
.w13{ width:13px}
.w14{ width:14px}
.w15{ width:15px}
.w20{ width:20px}
.w25{ width:25px}
.w30{ width:30px}
.w35{ width:35px}
.w40{ width:40px}
.w45{ width:45px}
.w50{ width:50px}
.w55{ width:55px}
.w60{ width:60px}
.w65{ width:65px}
.w70{ width:70px}
.w75{ width:75px}
.w80{ width:80px}
.w85{ width:85px}
.w90{ width:90px}
.w100{ width:100px}
.w115{ width:115px}
.w110{ width:110px}
.w120{ width:120px}
.w130{ width:130px}
.w140{ width:140px}
.w150{ width:150px}
.w160{ width:160px}
.w170{ width:170px}
.w180{ width:180px}
.w190{ width:190px}
.w200{ width:200px}
.w250{ width:250px}
.w300{ width:300px}
.w400{ width:400px}
.w500{ width:500px}
.w600{ width:600px}
.w700{ width:700px}
.w800{ width:800px}


/*百分比宽度*/
.w{ width:100%}
.w33_{width:33.3333333333333333333333%;}
.w1_{width: 1%;}
.w2_{width: 2%;}
.w3_{width: 3%;}
.w4_{width: 4%;}
.w5_{width: 5%;}
.w6_{width: 6%;}
.w7_{width: 7%;}
.w8_{width: 8%;}
.w9_{width: 9%;}
.w10_{width: 10%;}
.w11_{width: 11%;}
.w12_{width: 12%;}
.w13_{width: 13%;}
.w14_{width: 14%;}
.w15_{width: 15%;}
.w16_{width: 16%;}
.w18_{width: 18%;}
.w19_{width: 19%;}
.w20_{width: 20%;}
.w21_{width: 21%;}
.w22_{width: 22%;}
.w23_{width: 23%;}
.w24_{width: 24%;}
.w25_{width: 25%;}
.w30_{width: 30%;}
.w35_{width: 35%;}
.w40_{width: 40%;}
.w45_{width: 45%;}
.w50_{width: 50%;}
.w55_{width: 55%;}
.w60_{width: 60%;}
.w65_{width: 65%;}
.w70_{width: 70%;}
.w75_{width: 75%;}
.w80_{width: 80%;}
.w85_{width: 85%;}
.w90_{width: 90%;}
.w95_{width: 95%;}


/*高度*/
.h10{ height: 10px;line-height: 10px;}
.h15{ height: 15px;line-height: 15px;}
.h20{ height: 20px;line-height: 20px;}
.h25{ height: 25px;line-height: 25px;}
.h30{ height: 30px;line-height: 30px;}
.h40{ height: 40px;line-height: 40px;}
.h44{ height: 44px;line-height: 44px;}
.h45{ height: 45px;line-height: 45px;}
.h50{ height: 50px;line-height: 50px;}
.h55{ height: 55px;line-height: 55px;}
.h60{ height: 60px;line-height: 60px;}
.h65{ height: 65px;line-height: 65px;}
.h70{ height: 70px;line-height: 70px;}
.h75{ height: 75px;line-height: 75px;}
.h80{ height: 80px;line-height: 80px;}
.h90{ height: 90px;line-height: 90px;}
.h100{ height: 100px;line-height: 100px;}
.h110{ height: 110px;line-height: 110px;}
.h120{ height: 120px;line-height: 120px;}
.h130{ height: 130px;line-height: 130px;}
.h140{ height: 140px;line-height: 140px;}
.h150{ height: 150px;line-height: 150px;}
.h160{ height: 160px;line-height: 160px;}
.h200{ height: 200px;line-height: 200px;}
.h250{ height: 250px;line-height: 250px;}
.h300{ height: 300px;line-height: 300px;}
.h500{ height: 500px;}
.h{ height:100%;}

/*百分比高度*/
.h22_{height: 22%;}
.h40_{height: 40%;}
.h80_{height: 80%;}


/*行高*/
.lh10{line-height: 10px;}
.lh20{line-height: 20px;}
.lh25{line-height: 25px;}
.lh30{line-height: 30px;}
.lh50{line-height: 50px;}
.lh60{line-height: 60px;}
.lh80{line-height: 80px;}
.lh_{line-height: 100%;}


/*百分比边距*/
.mt1_{margin-top: 1%}
.mt2_{margin-top: 2%}
.mt3_{margin-top: 3%}
.mt4_{margin-top: 4%}
.mt5_{margin-top: 5%}
.mt6_{margin-top: 6%}
.mt7_{margin-top: 7%}
.mt8_{margin-top: 8%}
.mt9_{margin-top: 9%}
.mt10_{margin-top: 10%}
.mt15_{margin-top: 15%}
.mt20_{margin-top: 20%}

.ml1_{margin-left:1%;}
.ml2_{margin-left:2%;}
.ml3_{margin-left:3%;}
.ml4_{margin-left:4%;}
.ml5_{margin-left:5%;}
.ml6_{margin-left:6%;}
.ml7_{margin-left:7%;}
.ml8_{margin-left:8%;}
.ml9_{margin-left:9%;}
.ml10_{margin-left:10%;}
.ml15_{margin-left:15%;}
.ml20_{margin-left:20%;}
.ml25_{margin-left:25%;}


.mr1_{margin-right:1%}
.mr2_{margin-right:2%}
.mr3_{margin-right:3%}
.mr4_{margin-right:4%}
.mr5_{margin-right:5%}
.mr20_{margin-right:20%;}


/*边距*/
.m10{ margin:10px}
.m15{ margin:15px}
.m30{ margin:30px}


.mt1{ margin-top: 1px}
.mt2{ margin-top:2px}
.mt3{ margin-top:3px}
.mt4{ margin-top:4px}
.mt5{ margin-top:5px}
.mt6{ margin-top:6px}
.mt7{ margin-top:7px}
.mt8{ margin-top:8px}
.mt9{ margin-top:9px}
.mt10{ margin-top:10px}
.mt11{ margin-top:11px}
.mt12{ margin-top:12px}
.mt13{ margin-top:13px}
.mt14{ margin-top:14px}
.mt15{ margin-top:15px}
.mt16{ margin-top:16px}
.mt17{ margin-top:17px}
.mt18{ margin-top:18px}
.mt19{ margin-top:19px}
.mt20{ margin-top:20px}
.mt25{ margin-top:25px}
.mt30{ margin-top:30px}
.mt35{ margin-top:35px}
.mt40{ margin-top:40px}
.mt45{ margin-top:45px}
.mt50{ margin-top:50px}
.mt60{ margin-top:60px}
.mt70{ margin-top:70px}
.mt80{ margin-top:80px}
.mt90{ margin-top: 90px}
.mt100{ margin-top:100px}
.mt120{ margin-top:120px}
.mt130{ margin-top:130px}
.mt140{ margin-top:140px}
.mt150{ margin-top:150px}

.mb5{ margin-bottom:5px}
.mb10{ margin-bottom:10px}
.mb15{ margin-bottom:15px}
.mb20{ margin-bottom:20px}
.mb30{ margin-bottom:30px}
.mb50{ margin-bottom:50px}
.mb60{ margin-bottom:60px}
.mb80{ margin-bottom:80px}
.mb100{ margin-bottom:100px}
.mb150{ margin-bottom:150px}


.ml-1{margin-left: -1px}
.ml1{ margin-left:1px}
.ml2{ margin-left:2px}
.ml3{ margin-left:3px}
.ml4{ margin-left:4px}
.ml5{ margin-left:5px}
.ml6{ margin-left:6px}
.ml7{ margin-left:7px}
.ml8{ margin-left:8px}
.ml9{ margin-left:9px}
.ml10{ margin-left:10px}
.ml11{ margin-left:11px}
.ml12{ margin-left:12px}
.ml13{ margin-left:13px}
.ml14{ margin-left:14px}
.ml15{ margin-left:15px}
.ml20{ margin-left:20px}
.ml25{ margin-left:25px}
.ml30{ margin-left:30px}
.ml40{ margin-left:40px}
.ml45{ margin-left:45px}
.ml50{ margin-left:50px}
.ml60{ margin-left:60px}
.ml65{ margin-left:65px}
.ml70{ margin-left:70px}
.ml75{ margin-left:75px}
.ml80{ margin-left:80px}
.ml90{ margin-left:90px}
.ml100{ margin-left:100px}
.ml120{ margin-left:120px}
.ml150{ margin-left:150px}
.ml200{ margin-left:200px}
.ml500{	margin-left:500px}

.mr5{ margin-right:5px}
.mr10{ margin-right:10px}
.mr15{ margin-right:15px}
.mr20{ margin-right:20px}
.mr25{ margin-right:25px}
.mr30{ margin-right:30px}
.mr50{ margin-right:50px}
.mr100{ margin-right:100px}
.mr120{ margin-right:120px}

/*内间距*/
.p1_{padding: 1%;}
.p10{ padding:10px;}
.p15{ padding:15px;}
.p30{ padding:30px;}

.pt5{ padding-top:5px}
.pt10{ padding-top:10px}
.pt15{ padding-top:15px}
.pt20{ padding-top:20px}
.pt30{ padding-top:30px}
.pt50{ padding-top:50px}
.pt100{ padding-top:100px}
.pt130{ padding-top:130px}

.pb5{ padding-bottom:5px}
.pb10{ padding-bottom:10px}
.pb15{ padding-bottom:15px}
.pb20{ padding-bottom:20px}
.pb30{ padding-bottom:30px}
.pb50{ padding-bottom:50px}
.pb100{ padding-bottom:100px}

.pl5{ padding-left:5px}
.pl10{ padding-left:10px}
.pl15{ padding-left:15px}
.pl20{ padding-left:20px}
.pl30{ padding-left:30px}
.pl35{ padding-left:35px}
.pl40{ padding-left:40px}
.pl45{ padding-left:45px}
.pl50{ padding-left:50px}
.pl60{ padding-left:60px}
.pl80{ padding-left:80px}
.pl100{ padding-left:100px}

.pr5{ padding-right:5px}
.pr10{ padding-right:10px}
.pr15{ padding-right:15px}
.pr20{ padding-right:20px}
.pr25{ padding-right:25px}
.pr30{ padding-right:30px}
.pr50{ padding-right:50px}
.pr60{ padding-right:60px}
.pr100{ padding-right:100px}



/*边框 圆角*/
.br2{border-radius: 2px;}
.br3{border-radius: 3px;}
.br4{border-radius: 4px;}
.br5{border-radius: 5px;}
.br6{border-radius: 6px;}
.br10{border-radius: 10px;}
.br5_{border-radius: 50%;}






/*css3旋转*/
.arrowBox{
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.2s ease-in-out; /* Safari 和 Chrome */
    -o-transition: all 0.2s ease-in-out; /* Opera */
}
.arrowW{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);     /* IE 9 */
    -moz-transform:rotate(90deg);    /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);  /* Opera */
}
.arrowC{
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);     /* IE 9 */
    -moz-transform:rotate(-90deg);    /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
    -o-transform:rotate(-90deg);  /* Opera */
}
.arrowA{
    transform:rotate(180deg);
    -ms-transform:rotate(-180deg);     /* IE 9 */
    -moz-transform:rotate(-180deg);    /* Firefox */
    -webkit-transform:rotate(-180deg); /* Safari 和 Chrome */
    -o-transform:rotate(-180deg);  /* Opera */
}


/*三角形*/
.triangle_right{
	display: inline-block;
	width: 0px;
	height: 0px;
	border: 5px solid #FFF;
	border-left: 5px solid #000;
	transition: all 0.5s;
	-moz-transition:  all 0.5s; /* Firefox 4 */
	-webkit-transition:  all 0.5s; /* Safari 和 Chrome */
	-o-transition:  all 0.5s; /* Opera */
}
.triangle_up{
	display: inline-block;
	width: 0px;
	height: 0px;
	border: 5px solid #FFF;
	border-bottom: 5px solid #000;
	transition: all 0.5s;
	-moz-transition:  all 0.5s; /* Firefox 4 */
	-webkit-transition:  all 0.5s; /* Safari 和 Chrome */
	-o-transition:  all 0.5s; /* Opera */
}
.triangle_left{
	display: inline-block;
	width: 0px;
	height: 0px;
	border: 5px solid #FFF;
	border-right: 5px solid #000;
	transition: all 0.5s;
	-moz-transition:  all 0.5s; /* Firefox 4 */
	-webkit-transition:  all 0.5s; /* Safari 和 Chrome */
	-o-transition:  all 0.5s; /* Opera */
}
.triangle_down{
	display: inline-block;
	width: 0px;
	height: 0px;
	border: 5px solid #FFF;
	border-top: 5px solid #000;
	transition: all 0.5s;
	-moz-transition:  all 0.5s; /* Firefox 4 */
	-webkit-transition:  all 0.5s; /* Safari 和 Chrome */
	-o-transition:  all 0.5s; /* Opera */
}
